/* Add this to your CSS file */

/* Styles for screens smaller than 600px */
@media (max-width: 600px) {
    .container {
      width: 100%;
      padding: 0;
    }
  
    .row-cols-1 .col {
      width: 100%;
      margin-bottom: 1rem;
    }
  
    .card {
      width: 100%;
    }
  
    .card img {
      width: 100%;
      height: auto;
    }
  
    .card-body {
      padding: 1rem;
    }
  
    hr {
      margin-top: 2rem;
    }

    #games-hero, #products-hero {
      display: block;
      height: auto;
    }
  
    .games-hero-img, .products-hero-img {
      width: 100%;
      height: auto;
      background-size: contain;
    }
  
    #games-hero div:first-child, #products-hero div:last-child {
      clip-path: none;
      background-color: #3806b3;
    }

    .quake-4-title {
        font-size: 50px;
        padding: 10px;
    }

    .install {
        height: 3.5rem;
        width: 15.7rem;
        margin-left: 10px;
    }
  
  }
  